@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800&display=swap');

html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

/**********************************************************************************************/
/* ------------------------------- All Theme Colors & Vars ---------------------------------- */
/**********************************************************************************************/

:root {
    /* All main colors */
    --main-blue: #4D6BDD;
    --dark-blue: #3E56B1;
    --light-blue: #EDF1FD;
    --main-yellow: #F1C40F;
    --light-yellow: #FAF8EC;
    --main-green: #13CC89;
    --light-green: #E9F8F6;
    --main-red: #FF6B6B;
    --light-red: #FBF1F4;
    --main-grey: #919191;
    --light-grey: #F3F4F7;

    /* All background colors */
    --bc-color-primary: #FFFFFF;
    --bc-color-secondary: #FBFCFF;

    /* All text colors */
    --text-light-primary: #FFFFFF;
    --text-light-secondary: #DCDCDC;
    --text-dark-primary: #2E2E2E;
    --text-dark-secondary: #585858;

    /* All state text colors */
    --active-text: var(--main-blue);
    --disabled-text: #A4ACCC;

    /* All border colors */
    --main-border: #6D8EF1;
    --light-border: #E7E7E7;
    --active-border: var(--main-blue);
    --disabled-border: #CED2E4;

    /* All font sizes */
    --font-size-xxl: 1.5rem;
    --font-size-xl: 1.375rem;
    --font-size-l: 1.125rem;
    --font-size-m: 1rem;
    --font-size-s: 0.875rem;
    --font-size-xs: 0.75rem;

    /* All font weights */
    --text-bold: 700;
    --text-semi-bold: 600;
    --text-medium: 500;
    --text-regular: 400;
    --text-light: 300;

    /* All border radius */
    --border-raduis-xl: 0.625rem;
    --border-raduis-l: 0.5rem;

    /* All column gaps */
    --column-gap-l: 1rem;
    --column-gap-m: 0.75rem;
    --column-gap-s: 0.5rem;

    /* All default paddings */
    --padding-xl: 2.813rem;
    --padding-l: 2.188rem;
    --padding-m: 1.25rem;

    /* All input vars */
    --input-height-xl: 3rem;
}

/**********************************************************************************************/
/* ------------------------------- Main Container Styles ------------------------------------ */
/**********************************************************************************************/

#app {
    display: flex;
    overflow: hidden;
}

main {
    flex: 1;
    padding: var(--padding-xl);
    overflow-y: scroll;
    max-width: 85rem;
    margin: 0 auto;
}

.wrapper {
    border: 2px solid var(--light-border);
    border-radius: var(--border-raduis-xl);
    padding: var(--padding-m);
}

.wrapper.dashed {
    border-style: dashed;
}

span {
    display: block;
}

.colored-wrapper {
    position: relative;
    flex: 1;
    border-radius: var(--border-raduis-xl);
    padding-left: 1.563rem;
}

.colored-wrapper.grey.fill{
    background-color: var(--light-grey);
}

.colored-wrapper.blue.fill{
    background-color: var(--light-blue);
}

.colored-wrapper.yellow.fill {
    background-color: var(--light-yellow);
}

.colored-wrapper.green.fill {
    background-color: var(--light-green);
}

.colored-wrapper.red.fill{
    background-color: var(--light-red);
}

.colored-wrapper:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0.625rem;
    border-radius: var(--border-raduis-l) 0 0 var(--border-raduis-l);
}
.colored-wrapper.grey:before {
    background-color: var(--main-grey);
}

.colored-wrapper.blue:before {
    background-color: var(--main-blue);
}

.colored-wrapper.yellow:before {
    background-color: var(--main-yellow);
}

.colored-wrapper.green:before {
    background-color: var(--main-green);
}

.colored-wrapper.red:before {
    background-color: var(--main-red);
}



/**********************************************************************************************/
/* --------------------------------- Main Text Styles --------------------------------------- */
/**********************************************************************************************/

h1, h2, h3, h4 {
    margin-top: 0;
    color: var(--text-dark-primary);
}

h2 {
    font-size: var(--font-size-xxl);
    font-weight: var(--text-semi-bold);
}

a {
    text-decoration: none;
    color: var(--text-light-primary);
}

/**********************************************************************************************/
/* --------------------------------- Main Input Styles -------------------------------------- */
/**********************************************************************************************/

input {
    width: 100%;
    height: var(--input-height-xl);
    border: 0.125rem solid var(--light-border);
    border-radius: var(--border-raduis-xl);
    padding-left: 1rem;
    color: var(--text-dark-secondary);
    font-size: var(--font-size-l);
    font-weight: var(--text-regular);
    margin: 0;
}

input[type="radio"] {
    position: relative;
    width: 25px;
    height: 25px;
}